<p id="notice"><%= notice %></p>

<h1>Listing Snakes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snakes.each do |snake| %>
      <tr>
        <td><%= link_to 'Show', snake %></td>
        <td><%= link_to 'Edit', edit_snake_path(snake) %></td>
        <td><%= link_to 'Destroy', snake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Snakes', new_snake_path %>
