
<div class="row">
  <div class="col s6 ">
    <%= image_tag 'snake_green.svg' %>
  </div>
  <div class="col s6">
    <%= image_tag 'spider_green.svg' %>
  </div>
</div>

<div class="row">
  <div class="col s6 ">
    <%= image_tag 'bandaid_green.svg' %>
  </div>
  <div class="col s6">
    <%= image_tag 'SOS911_green.svg' %>
  </div>
</div>

<div class="row">
  <div class="col s6 ">
    <%= image_tag 'feedback_green.svg' %>
  </div>
  <div class="col s6">
    <%= image_tag 'medcross_green.svg' %>
  </div>
</div>
