


<div class="containerz">
  <div class="row">
    <ul id="svg icons">
      <li class="col s6"><a href="/snakes">
        <%= image_tag 'snake_white.svg', :class => 'scaling-svg' %>
        </a>
        <span> SNAKES </span>
      </li>
      <li class="col s6"><a href="/spiders">
        <%= image_tag 'spider_white.svg', :class => 'scaling-svg' %>
        </a>
        <span> SPIDERS </span>
      </li>
      <li class="col s6"> <a href="/posts">
        <%= image_tag 'bandaid_white.svg', :class => 'scaling-svg' %>
        </a>
         <span> FORUMS </span>
      </li>
      <li class="col s6">
        <%= image_tag 'SOS911_white.svg', :class => 'scaling-svg' %>
         <span> CALL 911 </span>
      </li>
      <li class="col s6"><a href="/feedback">
        <%= image_tag 'feedback_white.svg', :class => 'scaling-svg' %>
         </a>
         <span> FEEDBACK </span>
      </li>
      <li class="col s6"><a href="/abouts">
        <%= image_tag 'medcross_white.svg', :class => 'scaling-svg' %>
         </a>
         <span> ABOUT </span>
      </li>
    </ul>
  </div>
</div>

