
<div class="containerz">
  <div class="row">
    <ul id="svg icons">
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
      <li class="col s6">
        <%= image_tag 'medcross_green.svg', :class => 'scaling-svg' %>
      </li>
    </ul>
  </div>
</div>

