

<div class="loginz">
  <div class="row">
    <div class="col s6 offset-s3 grid-example">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title black-text center-align">
          <h3 class="center-align">Login</h3></span>
        <div class= "container">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
       <!--  <%= image_tag 'profile5.svg' %> -->
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
        </div>
        <div class="form-actions left-align">
          <%= f.button :submit, "Log in" %>
        </div>
        <% end %>
        </div>
        <div class="card-action center-align">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

