<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Dosis|Open+Sans' rel='stylesheet' type='text/css'>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
 <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo center">Wild SOS</a>
      <ul id="nav-mobile" class="right">
         <li><a href="/posts">Forum</a></li>
        <li><a href="/firstaid">First Aid</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
        <li><a href="/abouts">About Us</a></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %><li>
          <% else %>
            <li><%= link_to 'Log In', "/users/sign_in" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<body>

<%= yield %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'js/bin/materialize.min.js' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <footer class="page-footer">
  <div class="container">
    WILD SOS © 2015 Copyright Text
    </div>
  </footer>


</body>
</html>
